
body{
    background-color:rgb(66, 66, 66)
}.main{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.onoff{
    display: flex;
    height:500px;
    width:500px;
    justify-content:center;
    align-items: center
}

.onoff:hover{
    cursor:grabbing;
}

.switch{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#switchbutton{
    height:100px;
    width:60px;
   background-image:url("sources/switchoff.png");
   background-size: cover;
}
#switchbutton:hover{
    cursor: pointer;
}
